#Extracción de datos
pydataxm 0.3.16

# Procesamiento de Datos
pandas>=2.0.0
numpy>=1.24.0

# Análisis Estadístico
scipy>=1.10.0

# Visualización de Datos
matplotlib>=3.7.0
seaborn>=0.12.0

# Entorno de trabajo (Opcional pero recomendado)
jupyter>=1.0.0
